#more-charts {
    float: right;
    width: 50%;
    margin: auto auto 50px;
}

#charts {
    width: 90%;
    margin: auto auto;
}


#picture-from-space-div {
    float: right;
    text-align: center;
}

img {
    width: 242px;
    height: 242px;
}

body {
    background: rgba(255, 255, 255, 0.78);
    width: 90%;
    margin: auto;
}