#more-charts {
    float: right;
    width: 50%;
    margin: auto auto 50px;
}

#charts {
    width: 90%;
    margin: auto auto;
}

b{
    color: blue;
}

p{
    color: dodgerblue;
}
h1{
    color: blue;
}
h2{
    color: blue;
}
h3{
    color: blue;
}

#picture-from-space-div {
    float: right;
}

img {
    width: 242px;
    height: 242px;
}

body {
    background: rgba(255, 255, 255, 0.78);
    width: 90%;
    margin: auto;
}